<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0a828d95952e49b9a4eef8cd91e56ae1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0a828d95952e49b9a4eef8cd91e56ae1" ></div>
        
</body>
<script>    
    
            var map_0a828d95952e49b9a4eef8cd91e56ae1 = L.map(
                "map_0a828d95952e49b9a4eef8cd91e56ae1",
                {
                    center: [37.602829, 127.039508],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3b0b995ee14a4613b525d7ee35d23625 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
            var marker_13f34b99cc0c4de2acfcbb51c3cbc8fe = L.marker(
                [37.59165934, 127.0125517],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_892e1529d5f54bec94ef987cc98523f8 = L.popup({"maxWidth": "100%"});

        
            var html_f1668e30662a4176956312148016e406 = $(`<div id="html_f1668e30662a4176956312148016e406" style="width: 100.0%; height: 100.0%;"><p>안전운전 의무 불이행</p></div>`)[0];
            popup_892e1529d5f54bec94ef987cc98523f8.setContent(html_f1668e30662a4176956312148016e406);
        

        marker_13f34b99cc0c4de2acfcbb51c3cbc8fe.bindPopup(popup_892e1529d5f54bec94ef987cc98523f8)
        ;

        
    
    
            var marker_ccd272d5402748dc9e19756d2540f653 = L.marker(
                [37.58920703, 127.0080483],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_00c7ffd08a564a7583de0a01151385bd = L.popup({"maxWidth": "100%"});

        
            var html_27a0d51cb36d46faa0bc064077ac7893 = $(`<div id="html_27a0d51cb36d46faa0bc064077ac7893" style="width: 100.0%; height: 100.0%;"><p>안전운전 의무 불이행</p></div>`)[0];
            popup_00c7ffd08a564a7583de0a01151385bd.setContent(html_27a0d51cb36d46faa0bc064077ac7893);
        

        marker_ccd272d5402748dc9e19756d2540f653.bindPopup(popup_00c7ffd08a564a7583de0a01151385bd)
        ;

        
    
    
            var marker_3fe84c6dd8034862966b58bbba1c116c = L.marker(
                [37.58750368, 127.0080935],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_63a49ef6804c4b6896fd070e25bb8725 = L.popup({"maxWidth": "100%"});

        
            var html_ca71ca3ba1dc4c6f85d1e02d63c96731 = $(`<div id="html_ca71ca3ba1dc4c6f85d1e02d63c96731" style="width: 100.0%; height: 100.0%;"><p>안전운전 의무 불이행</p></div>`)[0];
            popup_63a49ef6804c4b6896fd070e25bb8725.setContent(html_ca71ca3ba1dc4c6f85d1e02d63c96731);
        

        marker_3fe84c6dd8034862966b58bbba1c116c.bindPopup(popup_63a49ef6804c4b6896fd070e25bb8725)
        ;

        
    
    
            var marker_019a55cdb03e483bb182d79bf5fc4004 = L.marker(
                [37.5895534, 127.0089748],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_8d9c3718e25b4a75b3bc105012594c33 = L.popup({"maxWidth": "100%"});

        
            var html_ab83de9965934b37aafdaacbb91744e9 = $(`<div id="html_ab83de9965934b37aafdaacbb91744e9" style="width: 100.0%; height: 100.0%;"><p>안전운전 의무 불이행</p></div>`)[0];
            popup_8d9c3718e25b4a75b3bc105012594c33.setContent(html_ab83de9965934b37aafdaacbb91744e9);
        

        marker_019a55cdb03e483bb182d79bf5fc4004.bindPopup(popup_8d9c3718e25b4a75b3bc105012594c33)
        ;

        
    
    
            var marker_f57b12c79cb74c5a9e1a4afb07ee4eb2 = L.marker(
                [37.60364868, 127.026193],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_7b01f521ad9f4bc5b1b1fdaf5aab4acb = L.popup({"maxWidth": "100%"});

        
            var html_2e81cbb6c5c042549395e3527c9c70fc = $(`<div id="html_2e81cbb6c5c042549395e3527c9c70fc" style="width: 100.0%; height: 100.0%;"><p>안전운전 의무 불이행</p></div>`)[0];
            popup_7b01f521ad9f4bc5b1b1fdaf5aab4acb.setContent(html_2e81cbb6c5c042549395e3527c9c70fc);
        

        marker_f57b12c79cb74c5a9e1a4afb07ee4eb2.bindPopup(popup_7b01f521ad9f4bc5b1b1fdaf5aab4acb)
        ;

        
    
    
            var marker_552dce335d964130a0a3bbc715299807 = L.marker(
                [37.60351098, 127.0323456],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_d171a5cb967a4e52a4e48a706c7b2ce8 = L.popup({"maxWidth": "100%"});

        
            var html_3c565d972de64236b36e9589f4f8ed67 = $(`<div id="html_3c565d972de64236b36e9589f4f8ed67" style="width: 100.0%; height: 100.0%;"><p>신호위반</p></div>`)[0];
            popup_d171a5cb967a4e52a4e48a706c7b2ce8.setContent(html_3c565d972de64236b36e9589f4f8ed67);
        

        marker_552dce335d964130a0a3bbc715299807.bindPopup(popup_d171a5cb967a4e52a4e48a706c7b2ce8)
        ;

        
    
    
            var marker_7df420fa143842d190d244ba26abb9a3 = L.marker(
                [37.60073006, 127.0338697],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_62949cd7777646bc986b48838fa39d77 = L.popup({"maxWidth": "100%"});

        
            var html_87448d26e3094d0eb06a9d4975b18554 = $(`<div id="html_87448d26e3094d0eb06a9d4975b18554" style="width: 100.0%; height: 100.0%;"><p>신호위반</p></div>`)[0];
            popup_62949cd7777646bc986b48838fa39d77.setContent(html_87448d26e3094d0eb06a9d4975b18554);
        

        marker_7df420fa143842d190d244ba26abb9a3.bindPopup(popup_62949cd7777646bc986b48838fa39d77)
        ;

        
    
    
            var marker_83a00b72e6714061835c599e405c9e33 = L.marker(
                [37.60610663, 127.0368611],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_a8ba4b0d168246239a3cec5466fb1399 = L.popup({"maxWidth": "100%"});

        
            var html_a228fa4afa294cea8ebb7ee2d0c96bd5 = $(`<div id="html_a228fa4afa294cea8ebb7ee2d0c96bd5" style="width: 100.0%; height: 100.0%;"><p>안전운전 의무 불이행</p></div>`)[0];
            popup_a8ba4b0d168246239a3cec5466fb1399.setContent(html_a228fa4afa294cea8ebb7ee2d0c96bd5);
        

        marker_83a00b72e6714061835c599e405c9e33.bindPopup(popup_a8ba4b0d168246239a3cec5466fb1399)
        ;

        
    
    
            var marker_b7f079d043bb4279b1dbc57385e927c0 = L.marker(
                [37.59547506, 127.0356583],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_9b7b3214b72e4eab9fdcd474d5e56e2c = L.popup({"maxWidth": "100%"});

        
            var html_aa33648f84c441a5b2597e9863045718 = $(`<div id="html_aa33648f84c441a5b2597e9863045718" style="width: 100.0%; height: 100.0%;"><p>안전운전 의무 불이행</p></div>`)[0];
            popup_9b7b3214b72e4eab9fdcd474d5e56e2c.setContent(html_aa33648f84c441a5b2597e9863045718);
        

        marker_b7f079d043bb4279b1dbc57385e927c0.bindPopup(popup_9b7b3214b72e4eab9fdcd474d5e56e2c)
        ;

        
    
    
            var marker_61e9c410f6da4992b572b79eeb1138e3 = L.marker(
                [37.61368876, 127.0489718],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_1a3d48b38023455da3c2a569873eca5d = L.popup({"maxWidth": "100%"});

        
            var html_bf8b8f71da764de0ba34c93b877cf255 = $(`<div id="html_bf8b8f71da764de0ba34c93b877cf255" style="width: 100.0%; height: 100.0%;"><p>보행자 보호의무 위반</p></div>`)[0];
            popup_1a3d48b38023455da3c2a569873eca5d.setContent(html_bf8b8f71da764de0ba34c93b877cf255);
        

        marker_61e9c410f6da4992b572b79eeb1138e3.bindPopup(popup_1a3d48b38023455da3c2a569873eca5d)
        ;

        
    
    
            var marker_f585f30d41dc4cbe9cc4e444f42343bc = L.marker(
                [37.61547662, 127.0091217],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_105ba148fb454d92ba7ecbfc17175350 = L.popup({"maxWidth": "100%"});

        
            var html_f88b1f52df914bca81e90c9ec4db2ba6 = $(`<div id="html_f88b1f52df914bca81e90c9ec4db2ba6" style="width: 100.0%; height: 100.0%;"><p>신호위반</p></div>`)[0];
            popup_105ba148fb454d92ba7ecbfc17175350.setContent(html_f88b1f52df914bca81e90c9ec4db2ba6);
        

        marker_f585f30d41dc4cbe9cc4e444f42343bc.bindPopup(popup_105ba148fb454d92ba7ecbfc17175350)
        ;

        
    
    
            var marker_818a5e58aec64edbba153e7dc7bb4dd8 = L.marker(
                [37.58029657, 127.0221506],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_2dc17d03cda54efca85bfc166f3df98a = L.popup({"maxWidth": "100%"});

        
            var html_fe377cb1186847819a4fc34f32561c02 = $(`<div id="html_fe377cb1186847819a4fc34f32561c02" style="width: 100.0%; height: 100.0%;"><p>안전운전 의무 불이행</p></div>`)[0];
            popup_2dc17d03cda54efca85bfc166f3df98a.setContent(html_fe377cb1186847819a4fc34f32561c02);
        

        marker_818a5e58aec64edbba153e7dc7bb4dd8.bindPopup(popup_2dc17d03cda54efca85bfc166f3df98a)
        ;

        
    
    
            var marker_d9820aef730348e8a98c8c4af523efa4 = L.marker(
                [37.5956821, 127.035589],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_bdd2ba43b4ad4cd395a4de4a9e886c97 = L.popup({"maxWidth": "100%"});

        
            var html_d16ccffc09f143de8bf946a0d78aa815 = $(`<div id="html_d16ccffc09f143de8bf946a0d78aa815" style="width: 100.0%; height: 100.0%;"><p>과속</p></div>`)[0];
            popup_bdd2ba43b4ad4cd395a4de4a9e886c97.setContent(html_d16ccffc09f143de8bf946a0d78aa815);
        

        marker_d9820aef730348e8a98c8c4af523efa4.bindPopup(popup_bdd2ba43b4ad4cd395a4de4a9e886c97)
        ;

        
    
    
            var marker_2fedc39a01364ff4b91c46afbbb79045 = L.marker(
                [37.60791371, 127.0472846],
                {}
            ).addTo(map_0a828d95952e49b9a4eef8cd91e56ae1);
        
    
        var popup_b9c2341e895c4c60b9ccb96e5b5a555a = L.popup({"maxWidth": "100%"});

        
            var html_296cd10e530e4b41871de07f6f8a08a8 = $(`<div id="html_296cd10e530e4b41871de07f6f8a08a8" style="width: 100.0%; height: 100.0%;"><p>안전운전 의무 불이행</p></div>`)[0];
            popup_b9c2341e895c4c60b9ccb96e5b5a555a.setContent(html_296cd10e530e4b41871de07f6f8a08a8);
        

        marker_2fedc39a01364ff4b91c46afbbb79045.bindPopup(popup_b9c2341e895c4c60b9ccb96e5b5a555a)
        ;

        
    
</script>